* {
  margin: 0;
}
body {
  background-color: #f1f1f1;
  width: 80%;
  max-width: 331px; /* Mobile-friendly width that matches the width of the photo */
  margin: 20px auto;
  border-radius: 4px;
}
ul {
  padding-left: 0;
  list-style-type: none;
}
ul li {
  padding: 5px 0;
}
ul li::before {
  content: "➡️";
  padding-right: 3px;
}
img {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
header {
  background-color: cornflowerblue;
  padding: 20px 10px;
  color: white;
  text-align: center;
}
header h1 {
  margin-bottom: 5px;
}
header p {
  font-size: 10px;
}
article {
  background-color: white;
  padding: 20px 10px;
  border-bottom: 1px solid lightgrey;
}
article:last-of-type {
  border-bottom: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
article h3 {
  border-bottom: 2px solid cornflowerblue;
  display: inline-block;
  padding-bottom: 20px;
  padding-top: 10px;
}
section {
  color: grey;
  padding-top: 10px;
  font-size: 10px;
}
section p {
  padding: 10px 0;
}
ol {
  padding-left: 0;
  list-style-type: none;
}
ol li {
  padding: 5px 0;
}
a:hover {
  cursor: pointer;
  color: darkblue;
}
